<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars Weather Report</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <div class="container-fluid">
        <div class="jumbotron text-center">
          <h1>Mission to Mars</h1>
          <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Get New Data</a></p>
        </div>
        <div class="row">
            <div class="col-12-lg">
                <h1>Latest Mars News</h1>
                <h2>{{mars.title}}</h2>
                <p>{{mars.body}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <h1>Featured Mars Image</h1>
                <img src="{{mars.feature_image}}" alt="Picture of Mars">
            </div>
            <div class="cole-md-4">
                <h1>Current Weather on Mars</h1>
                <p>{{mars.weather}}</p>
                <h2>Mars Facts</h2>
                <p>{{mars.table}}</p>
            </div>
        <div class="row">
            <div class="col-lg-12">
                <h1>Mars Hemispheres</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img src="{{mars.cerebus}}" alt="Cerebus hemisphere">
                <h3>Cerebus Hemisphere Enhanced</h3>
            </div>
            <div class="col-md-6">
                <img src="{{mars.schiaparelli}}" alt="Schiaparelli hemisphere">
                <h3>Schiaparelli Hemisphere Enhanced</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img src="{{mars.syrtis}}" alt="Syrtis Major hemisphere">
                <h3>Syrtis Major Hemisphere Enhanced</h3>
            </div>
            <div class="col-md-6">
                <img src="{{mars.valles}}" alt="Valles Marineris hemisphere">
                <h3>Valles Marineris Hemisphere Enhanced</h3>
            </div>
        </div>

</body>
</html>
<!-- Example: {{mars.Title}} = The scraped news article title -->